body {
    background: linear-gradient(to bottom right, #3498db, #2c3e50); 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.sectionComponent {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 2vh;
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(25,28,33,0.02), 0px 0px 0px 1px rgba(25,28,33,0.08);
}

.sectionComponent > form {
    display: flex;
    flex-direction: column;
}

#resumeDisplay {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    grid-area: resumeDisplay;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(25,28,33,0.02), 0px 0px 0px 1px rgba(25,28,33,0.08);
    z-index: 1;
    position: sticky;
    top: 5vh;
}

#workSection {
    grid-area: workSection;
}

#personalSection {
    grid-area: personalSection;
}

#personalSection form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#pdfButton {
    position: fixed;
    bottom: 8vh; 
    right: 6vw;
    background-color: #007BFF; 
    color: #ffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(25,28,33,0.02), 0px 0px 0px 1px rgba(25,28,33,0.08);
    z-index: 1;
}

#pdfButton:hover {
    background-color: #0056b3;
}


#educationSection {
    grid-area: educationSection;
}

#personalDisplayContainer {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    font-size: smaller;
    flex-wrap: nowrap;
}

#nameTitle {
    font-weight: bold;
}

#resumeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


#inputWrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "personalSection resumeDisplay"
                        "educationSection resumeDisplay"
                        "workSection ." ;
    gap: 3vh;
    margin: 3%;
}

.cvSectionHeader {
    border-bottom: solid 1px black;
    width: 88%;
}

.resumeEntry {
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3%;
    gap: 1vh;
}

.institutionEntry {
    font-weight: bold;
}

.entryHeadline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.attendedEntry {
    font-style: italic;
}

.responsibilitiesEntry {
    white-space: pre-line;
}

.positionEntry {
    font-style: italic;
}

form input,
form textarea,
form label {
    margin: 1vh;
}

form input,
form textarea {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    border-style: none;
    height: 2em;
    width: 90%
}

form label {
    font-weight: bold;
}

form textarea {
    height: 10vh;
    resize: none;
    padding: 1vw;
}

.submitButton {
    margin: 2vh;
    width: 90%;
}

.delete-button {
    background-color: rgb(222, 0, 0);
    border-color: rgb(174, 0, 0);
    color: white;
    border-radius: 5px;
}